/* WCAG Accessibility - Skip to Main - pop out when this gets tabbed - move to css when ready */
a.skip-main {
	left:-999px;
	position:absolute;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
	color: #fff;
	background-color:#000;
	left: auto;
	top: auto;
	width: 30%;
	height: auto;
	overflow:auto;
	margin: 10px 35%;
	padding:4px;
	border-radius: 15px;
	border:4px solid #ffc107;
	text-align:center;
	font-size:1.2em;
	z-index:999;
}				
								
@media screen {

    .spl {
    	font-family: "Rubik", sans-serif;
    	font-size: 12pt;	
    	background-color: rgba(255,255,255,0);
    	color: #000000;
    	margin-left: 1em;
    	margin-right: 1em;
    }

}
							
@media print {
    @page { 
        size: 8.5in 11in; 
    	margin-top: 0.5in;
    	margin-bottom: 0.5in;
    	orphans: 4; 
    	widows: 2;
        @bottom-right {
        	font-family: "Rubik", sans-serif;
        	font-size: 10pt;	
            content: counter(page);
        }
    }
        
    /* Table of Contents styles */
    ul.toc {
    	list-style-type: none;
    }					
    li.toc a::after {
    	content: target-counter(attr(href), page);
    	float: right;
    }
    
    /* PDF Outline bookmarks - wpthhold headings which are on the Title Page and Table of Contents - WeasyPrint defaults to h1, h2 */
    #print-toc h2, .title-page-row h2 {
        bookmark-level: none;
    }

    /* [pmh] Helper class for print only - section headers for the two sections below also are withheld in the PDF */
    .hide-offscreen {
        position: absolute;
        left: -999px;        
    }
    div[data-sectionCode="0BBD"] h1,
    div[data-sectionCode="0NOC"] h1 {
        position: absolute;
        left: -999px;
    }
    
    /* font-size for Print Media has been changed from 12pt to 10pt */
    .spl {
    	font-family: "Rubik", sans-serif;
    	font-size: 10pt;
    	color: #000000;
    	margin-left: 0in;
    	margin-right: 0in;
    	margin-top: 0in;
    	margin-bottom: 0in;
    }
    
    .spl div.DocumentTitle {
            display: none;
    }
    
    .spl .bars {
         display:none;
    }
    
}

.header3911 {	
	font-family: Century Gothic,sans-serif;
	width: 60%;
}
.data3911 { 
	background-color:#E8E8E8; 
	font-family: Century Gothic,sans-serif;
	width: 40%;
}
.tableContentAlign3911 { 
	width:940px;
	padding:0pt;
	border-spacing:0px;
	border-collapse:collapse;
}

.spl .bars {

}

.spl h1, 
.spl h2, 
.spl h3, 
.spl h4, 
.spl h5, 
.spl h6 {
	page-break-before: auto;
	page-break-after: avoid;
}

.spl div.Warning {
	page-break-before: auto;
	page-break-inside: avoid;
        //GS: removed, as it interferes with Mixin hiding: display: inline-block;
}
							
.spl h1 {	
	text-indent: 0em;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0ex;
	text-align: left;
	color: black;
}

.spl div.Section h1 {	
	text-indent: 0em;
	font-size: 100%;
	font-weight: bold;
	margin-top:4ex;
	margin-bottom: 0ex;
	text-align: left;
	font-family: "Rubik", sans-serif;
}

.spl div.Warning h1 {
	margin-top: 0ex;
}

.spl h2 {	
	text-indent: 0em;
	font-size: 100%;
	font-weight: bold;
	margin-top: 2.2ex;
	margin-bottom: 0ex;
	text-align: left;
	font-family: "Rubik", sans-serif;
	color:black;
}

.spl h3 {	
	text-indent: 0em;
	font-size: 100%;
	font-weight: bold;
	margin-top: 2.2ex;
	margin-bottom: 0ex;
	text-align: left;
	color: black;
}

.spl h4 {	
	text-indent: 0em;
	font-size: 100%;
	font-weight: bold;
	margin-top: 2.2ex;
	margin-bottom: 0ex;
	text-align: left;
	color: black;
}

.spl h5 {	
	text-indent: 0em;
	font-size: 100%;
	font-weight: bold;
	margin-top: 2.2ex;
	margin-bottom: 0ex;
	text-align: left;
	color: black;
}

.spl h6 {	
	text-indent: 0em;
	font-size: 100%;
	font-weight: bold;
	margin-top: 2.2ex;
	margin-bottom: 0ex;
	text-align: left;
	color: black;
}


.spl div.Warning h1 {
	margin-top: 0pt;
	margin-bottom: 4pt;
	text-align: center;
	text-indent: 1em;
}

.spl div.HighlightSection,
.spl div.HighlightSubSection
 {
	margin-top: 1.8ex;
	padding-bottom: .25ex;
	border-top-style: dashed; 
	border-top-width: thin;
}

.spl h1.Highlights {	
	text-align: center;
	margin-bottom: 0ex;
	margin-top: -1.6ex;
	margin-left: 5%;
	margin-right: 5%;
	white-space: nowrap;
	text-indent: 0em;
}

.spl h1.Highlights span {
	background: white; 
	padding-top:.5ex;
	padding-bottom:1ex;
	padding-left:.25em; 
	padding-right:.25em;
}

.spl .HighlightsSeeReference {
	font-weight: bold;
}

.spl .HighlightsRevision {
	text-align: right;
	font-weight: bold;
	margin-bottom: 1ex;
}

.spl h1.toc {	
        text-indent: 0em;
	margin-top: 0ex;
	margin-bottom: 0ex;
	text-align: left;
	padding-left:.25in;
	padding-right: .25in;
	text-transform: uppercase;
}

.spl h2.toc {	
	/*padding-left: 1em;*/
	margin-top: 0ex;
	font-weight: normal;
	margin-bottom: 0ex;
	text-align: left;
	padding-left:.40in;
	padding-right: .40in;
}

.spl h3.toc {	
/*	padding-left: 2em;*/
	font-size: 100%;
	font-weight: normal;
	margin-top: 0ex;
	margin-bottom: 0ex;
	text-align: left;
	padding-left:.55in;
	padding-right: .55in;
}

.spl h4.toc {	
	padding-left: 3em;
	margin-top: 0ex;
	margin-bottom: 0ex;
	text-align: left;
	font-style: italic;
	padding-left:.70in;
	padding-right: .70in;
}

.spl span.SectionNumber {
	position: absolute;
	left: 10pt;
	top: auto;
}

.spl .titleCase {
	text-transform: capitalize;
}

.spl .lowerCase {
	text-transform: lowercase;
}
.spl p {	
	text-indent: 0em;
	margin-top: 1.2ex;
	margin-bottom: 0ex;
}

.spl td p {	
	text-indent: 0em;
	margin-top: 0ex; 
	margin-bottom: 0ex;
}
				
.spl th p {	
	text-indent: 0em;
	margin-top: 0px; 
	margin-bottom: 0px;
}
				
.spl p.DocumentTitle {	
	text-indent: 0em;
	font-size: 100%;
	font-weight: bold;
	margin-top: 0ex;
	margin-bottom: 0ex;
	text-align: left;
}

.spl p.DocumentSubTitle {	
	text-indent: 0em;
	font-size: 100%;
	font-weight: bold;
	margin-top: 0ex;
	margin-bottom: 0ex;
	text-align: center;
}

.spl .Instruction {	
	color: green;
}

.spl .EffectiveDate {
	font-size: 80%;
	margin-top: 1ex;
	margin-bottom: 1ex;
	text-align: left;
	float: left;
	position: relative;
}

.spl .DocumentMetadata {
	display:none;
	position:absolute;
	bottom:0px;
	left:0px;
	width:30em;
	background:white;
}

.spl .EffectiveDate:hover .DocumentMetadata {
	display:inline;
}

.spl .DistributorName {
	font-size: 80%;
	margin-top: 1ex;
	margin-bottom: 1ex;
	float: right;
}

.spl span.DistributorName {	
	font-size: 80%;
	margin-top: 1ex;
	margin-bottom: 1ex;
	float: right;
}

.spl span.ParagraphCaption {
	font-weight: bold;
	text-indent: 0em;
}

.spl p.ListCaption {
	font-weight: bold;
	font-size: 90%
}

.spl p.MultiMediaCaption {
	margin-top: 0; 
	text-align: center;
	font-weight: bold;
	font-size: 90%
}

.spl p.MultiMediaCaptionNotCentered {
	margin-top: 0; 
	text-align: left;
	font-weight: bold;
	font-size: 90%
}

.spl p.disclaimer {
	font-style: italic;
}

.spl .Italics {	
	font-style: italic;
}
.spl .Bold {	
	font-weight: bold;
}
.spl .Underline {
 	text-decoration: underline;
}
.spl .Padded {
    padding: 10px;
}
.spl .Insert {
	color: green;
	border-bottom: 3px double;
}
.spl .Delete {
       text-decoration: line-through;
}

/* [pmh] leave the decoration so it is obvious content links are navigation?
 * see further changes inline in spl_canada_screen.xsl */
.spl a:link    { text-decoration: none; }
.spl a:visited { text-decoration: none; }
.spl a:active  { text-decoration: none; }

/* [pmh] added for better compliance with accessibility requirements
.spl a         { 
    color: #002D42;
} */

/* use <span class="sub"> to avoid ugly uneven line spacing in IE */
.spl .Sub { 
	font-size: 80%;
	position: relative;
	bottom: -3px;
}
.spl .Sup {
	font-size: 80%;
	position: relative;
	top: -5px;
}

.spl table	{
	white-space: wrap;
	font-size: 100%;
/*
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
*/
	margin-top: 3ex;
	margin-bottom: 3ex;
	border-collapse: collapse;
/*  Align border color with Product Detail tables */
    border-color: #CCCCCC;
	border-width: thin;
}

/*
.spl div.HighlightSection table {
        display: inline-block;
}
*/

.spl table caption {	
	margin-top: 10px; /* Gecko needs this, IE doesn't add any extra */
	text-align: center;
	font-weight: bold;
	font-size: 100%;
    /* Override Bootstrap default to put captions below tables and black instead of dark gray */
    caption-side: top !important;
    color: black !important; 
}

.spl th {
    /* Always make table headers consistent with Product Detail colour scheme */
    	background-color: #EAEAEA;
}
				
.spl th, 
.spl td { 
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	border-collapse: collapse;
/*  Align border color with Product Detail tables, no longer black */
    border-color: #CCCCCC;
	border-width: thin;
/*
	padding-top: 1px;
	padding-bottom: 1px;
*/
}

.spl td.twocolumn {
 width: 50%;
 text-align: left;
 vertical-align: top;
 padding-left: 0.5em; 
 padding-right: 0.5em;
}

.spl td.Warning {
	border: 1px solid black; 
	margin-top: 2ex;
	margin-bottom: 2.2ex;
	padding-left: 1em; 
	padding-right: 1em;
	padding-top: 0ex;
	padding-bottom: 2ex;
}

/* the preferred way to rules in tables */

.spl tr.Botrule td, 
.spl tr.Botrule th,
.spl th.Botrule, 
.spl td.Botrule { 
	border-bottom-style: solid;
	border-bottom-width: thin;
}

/* Removing the heavy top and bottom table rule
.spl thead tr.First td,
.spl thead tr.First th {
    border-top-style: solid;
	border-top-width: medium;
} */

.spl thead tr.Botrule td,
.spl thead tr.Botrule th {
    border-bottom-style: solid;
	border-bottom-width: thin;
}

.spl thead tr.Toprule td,
.spl thead tr.Toprule th {
    border-top-style: solid;
	border-bottom-width: thin;
}

.spl thead tr.Last td, 
.spl thead tr.Last th {
    border-bottom-style: solid;
	border-bottom-width: thin;
  /* rule here might fail with rowspan headers */
} 

.spl tbody tr.First td, 
.spl tbody tr.First th  { 
    border-top-style: solid;
	border-top-width: thin;
}	 

/* Removing the heavy top and bottom table rule
.spl tbody.Headless tr.First td, 
.spl tbody.Headless tr.First th  { 
    border-top-style: solid;
	border-top-width: medium;
} */

.spl tbody tr.Botrule td, 
.spl tbody tr.Botrule th { 
	border-bottom-style: solid;
	border-bottom-width: thin;
}	 

/* Removing the heavy top and bottom table rule
.spl tbody tr.Last td,
.spl tbody tr.Last th { 
	border-bottom-style: solid;
	border-bottom-width: medium;
} */

.spl tbody tr td.Last,
.spl tbody tr th.Last { 
	border-bottom-style: solid;
	border-bottom-width: medium;
}	 
	 
/* begin of combinatorics of individual rules */

/* one rule only */
.spl th.Lrule,
.spl td.Lrule { 
	border-left-style: solid;
	border-left-width: thin;
}

.spl th.Rrule, 
.spl td.Rrule { 
	border-right-style: solid;
	border-right-width: thin;
}

.spl th.Toprule, 
.spl td.Toprule { 
	border-top-style: solid;
	border-top-width: thin;
}

.spl th.Botrule, 
.spl td.Botrule { 
	border-bottom-style: solid;
	border-bottom-width: thin;
}

/* end of table rules */

.spl ul { 
	margin-top: .2ex;
	margin-left: 1.5em;
	padding-left: 0em;
}
	
.spl ol { 
	margin-top: .2ex;
	padding-left: 1.5em;
}

.spl li {
   margin-top: .2ex;
   margin-left: 0em;
}

.spl li p {
   margin-top: .2ex;
}

.spl div.Warning ul {
   	margin-top: .2ex;
	margin-left: 1.5em;
	padding-left: 0em;
    margin-bottom:.2ex;
}

.spl ul.Disc { list-style-type: disc; }
.spl ul.Circle { list-style-type: circle; }
.spl ul.Square { list-style-type: square; }

.spl ol.LittleRoman { list-style-type: lower-roman; }
.spl ol.BigRoman { list-style-type: upper-roman; }
.spl ol.LittleAlpha { list-style-type: lower-alpha; }
.spl ol.BigAlpha { list-style-type: upper-alpha; }
.spl ol.Arabic { list-style-type: arabic; }

.spl dl {
   /* display: compact; compact doesn't seem to work 

     XXX: but display: inline would work
   */
   margin-left:.9em;
}

.spl dt {
    padding-top: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
}

.spl dd {
    padding-top: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-bottom: 0pt;
    position:relative;
    margin-top:-2.2ex;
    margin-left:1.5em;
}

.spl hr.Footnoterule {
	margin-top:2ex;
	width: 30%;
	text-align: left;
	/* FIXME: make a normal line, not a grey 3d effect */		
}
.spl dl.Footnote {
	margin-left:0em;
	margin-bottom:0ex;
	margin-top:0ex;
}

.spl dl.Footnote dt {
	font-size:90%;
}

.spl dl.Footnote dd {
	margin-left:1em;
	font-size:90%;
}

.spl dl.FootnoteContents {
	text-align: right;
	margin-left:0em;
	margin-bottom:0ex;
	margin-top:0ex;
}
.spl dl.FootnoteContents dt {
	font-size:100%;
}
.spl dl.FootnoteContents dd {
	margin-left:1em;
	font-size:90%;
}

.spl p.Footnote {
	text-indent:-1em;
	margin-left:1em;
	font-size:90%;
}

.spl p.Footnotesize {
	margin-bottom:0ex;
	margin-top:0ex;
	font-size:90%;
}

.spl img {
	display: block;
	margin-top: 0ex; 
	margin-bottom: 0ex;
	text-align: center;
}
							
.spl p img {
	display: inline;
	margin-top: 0ex; 
	margin-bottom: 0ex;
}
							
.spl div.Figure {
	margin-top: 4ex; 
	margin-bottom: 4ex;
}

.spl div.Warning {
	border: 4px solid black; 
	margin-top: 2ex;
	margin-bottom: 2.2ex;
	padding-left: 1em; 
	padding-right: 1em;
	padding-top: 0ex;
	padding-bottom: 1ex;
}

.spl div.Subject {
	margin-top: 1ex;
	margin-bottom: 1ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	padding-left: .5em;
	padding-right: .5em;
	font-size: 80%;
	background-color: #E0E0E0;
	cursor: pointer;
}

.spl .contentTable {
	border: 1px solid #999999;
	background-color: #EAEAEA;
}
.spl .contentTablePetite {
	border: 1px solid #999999;
	background-color: #EAEAEA;
	font-size: 80%;	
}
.spl .contentTableTitle {
	border-bottom: 1px solid #999999;
	background-color: #CCCCCC;
	font-size: 140%;
	font-weight: bold;
	/* [pmh] added for WS_PM-028 */
	text-align: left;
	padding: 3px;
}
.spl .contentTableReg {
	border-bottom: none;
	background-color: #CCCCCC;
	font-size: 80%;
	font-weight: lighter;
}
.spl .formTable {
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
}
.spl .formTablePetite {
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
	font-size: 80%;
}
.spl .formTableMorePetite {
	border: 1px solid #FFFFFF;
	border-collapse: collapse;
	font-size: 60%;
}
.spl .formTitle {
	background-color: #CCCCCC;
	border: 1px solid #FFFFFF;
	font-size: 125%;
	font-weight: bold;
}
.spl .formHeadingTitle {
	border: none;
	background-color: #CCCCCC;
	font-size: 150%;
	font-weight: bold;
	/* [pmh] added for WS_PM-028 */
	text-align: left;
	padding: 3px;
}
.spl .formHeadingReg {
	background-color: #CCCCCC;
	border: 1px solid #FFFFFF;
	font-size: 125%;
}
.spl .formTableRow {
	background-color: #FFFFFF;
}
.spl .formTableRowAlt {
 	background-color: #FFFFFF;
/* Removed the banding the FDA was using for this - every row is now white 
  background-color: #F2F2F2;
 */
}
.spl .formLabel {
	border: 1px solid #FFFFFF;
	background-color: #DDDDDD;
	font-size: 115%;
	font-weight: bold;
}
.spl .formItem {
	border: 1px solid #CCCCCC;
	font-size: 110%;
}
.spl .formTitle a:link {
	font-weight: bold;
	color: #006699;
	text-decoration: underline;
}
.spl .formTitle a:visited {
	/*font-family: "Arial Unicode MS"; Arial, Helvetica, sans-serif;*/
	font-weight: bold;
	color: #006699;
	text-decoration: underline;
}
.spl .formTitle a:active {
	/*font-family: "Arial Unicode MS"; Arial, Helvetica, sans-serif;*/
	font-weight: bold;
	/*color: #000000;*/
	text-decoration: none;
}
.spl .formTitle a:hover {
	/*font-family: "Arial Unicode MS"; Arial, Helvetica, sans-serif;*/
	font-weight: bold;
	/*color: #000000;*/
	text-decoration: none;
}
.spl .normalizer {
	font-size: 125%;
	font-weight: lighter;
}

.spl div.Highlights {
	font-size: 80%; 
	font-family: "Rubik", sans-serif;
/*     font-family: "Times New Roman", Times, serif; */
}

.spl div.HighlightsDisclaimer {
        font-weight: bold;
}

.spl div.Index {
        margin-top: 5ex;
        margin-bottom: 5ex;
        padding-top: 1ex;
        padding-bottom: 1ex;
        border-top-style: solid;
        border-top-width: thin;
        border-bottom-style: solid;
        border-bottom-width: thin;
}

.spl .Colspan {
       -moz-column-span: all;
        -webkit-column-span: all;
        column-span: all;
}

.spl div.Index h1,
.spl div.Index h2 {
	margin-top: 0pt;
}

.spl div.Index h2 {
	margin-left: 1em;
	font-weight: normal;
}

.spl .Italics {	
	font-style: italic;
}
.spl .Noitalics {	
	font-style: normal;
}
.spl .Bold {	
	font-weight: bold;
}
.spl .Nobold {	
	font-weight: normal;
}

/* Health Canada and Aurora Specific Styles and Swatches */

/* Centre items on the Title Page for both Screen and Print, and fix Recent Changes tables */
.title-page, 
.title-page h2 { 
    text-align: center !important; 
}
/* non-Bootstrap styles for XML Notepad and DocuBridge */
.title-page-row {
    padding: 0.20in;
}
.title-page-rule-top {
    border-top: 1px solid; 
    border-color: lightgrey;
}
.title-page-rule-bot {
    border-bottom: 1px solid;
    border-color: lightgrey;
}
.title-page-left {
    float: left;
    width: 60%;
}
.title-page-right {
    margin-left: 40%;
}

/* Removing any top and bottom table rule for this section only */
.recent-changes table, 
.recent-changes th, 
.recent-changes td {
	border-top-style: none !important;
	border-bottom-style: none !important;
}

/* Image Fix - the FDA breaks out when images are too large */
img { max-width: 100%; height: auto; }					

/* round buttons */
.btn-circle.btn-md { 
    width: 48px; 
    height: 48px; 
    padding: 7px 10px; 
    border-radius: 24px; 
    font-size: 10px; 
    text-align: center; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
} 
#btnTopDiv {
    position:fixed; 
    bottom:0; 
    right:0; 
    width:60px; 
    height:60px;
}

.spl .fullWidth {
    width: 100%;
}

/* Only pad top and bottom margins for the last table in the main content to prevent double margins */
.spl table.formTablePetite {
    margin-top: 2ex;
    margin-bottom: 0ex;
}
.spl table.formTablePetite:lastchild {
    margin-top: 2ex;
    margin-bottom: 2ex;
}

@media screen {

    .bg-aurora-accent1 { background-color: #002D42; }
    .bg-aurora-accent2 { background-color: #4D5D6C; }
    .bg-aurora-light   { background-color: #EAEAEA; } /* matched to a base colour in the tables */
    
    .hide-in-screen { display: none; }
    .Section h1 {display: none; } /* hide top level section headings on screen */
    #banner { font-size: 20pt; }
    #main { max-width: 1000px; }
    #side { max-width: 420px; min-width: 420px; }
    #navigation-sidebar li { padding-left: 10px !important; }
    #navigation-scrollbar { height: calc(100vh - 50px); overflow-y: scroll; }

    /* Screen links are aligned with Health Canada colours, with underline for spl links, and not navigation */
    .spl a, #side a.nav-link { 
	   color: #002D42;
    }
    .spl a:hover, #side a.nav-link:hover,
    .spl a:focus, #side a.nav-link:focus { 
    	color: #0535d2;
    }

    /* Underline all screen content links, including on hover and focus */
    .spl a, .spl a:link, .spl a:visited, .spl a:active  { 
    	text-decoration: underline; 
    }
    .spl a:hover, .spl a:focus {
    	text-decoration: underline;
    }

}
	
@media print {	

    .hide-in-print { display: none !important; }		
    .force-page-break-before { page-break-before: always !important; break-before: page !important; }
    .force-page-break-after { page-break-after: always !important; break-after: page !important; }
    .suppress-page-break { page-break-after: avoid; }
    .card { border-width: 0 !important; }
    .card-header { display: none !important; }
    	
    /* override FDA tables so they look nicer in print */
    .spl .formTable, 
    .spl .formTablePetite,
    .spl .formTableMorePetite,
    .spl .formTitle,
    .spl .formHeadingReg,
    .spl .formLabel {
        border: 1px solid #CCCCCC !important;
    }

}	